# Docker.
# Ignore Dockerfiles as part of build context: a modified Dockerfile always
# causes a rebuild anyway.
.dockerignore
**/Dockerfile

# Git.
.git/
.gitignore

# Build artifacts.
dist-newstyle/

# Local tool configuration.
cabal.project.local
hie.yaml
.hlint.yaml
.env

# Documentation.
README.md
